﻿<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div id="logging">
    <div class="form-group">
        <label for="identicalElements">Liczba identycznych elementów:</label>
        <select class="form-control" id="identicalElements">
            <option value="null">Wybierz...</option>
            @for (var i = 2; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="elements">Liczba wszystkich  elementów:</label>
        <select class="form-control" id="elements" disabled="disabled"></select>
    </div>
    <div class="form-group">
        <label for="round">W której turze:</label>
        <select class="form-control" id="round" disabled="disabled"></select>
    </div>
    <button id="log" type="button" class="btn btn-primary btn-block" disabled="disabled">Zaloguj</button> 
</div>
<div id="memory"></div>

@section scripts {
<script type="text/javascript">
    var cheat = $.Deferred();

    (function () {
        $("#identicalElements").val('null');
        $("#log").on("click", function () {
            var login = {
                identicalElements: parseInt($("#identicalElements").val()),
                elements: parseInt($("#elements").val()),
                round: parseInt($("#round").val()),
            };

            identicalElements = login.identicalElements;
            elements = login.elements;
            round = login.round;

            if (login.identicalElements > 0 && login.elements > 0 && login.round > 0 &&
                login.elements <= 10 && login.elements % login.identicalElements === 0 &&
                login.elements / login.identicalElements >= login.round) {
                $("#loader-wrapper").show();
                $("#logging").hide();
                $.get("../api/Authorization", { elements: login.elements, identicalElements: login.identicalElements },
                    function (dane) {
                        var row = 0;
                        row = Math.floor(Math.sqrt(login.elements));
                        while (login.elements % row != 0)
                            row--;

                        $("#center").width(((login.elements / row) * 75 + 73));
                        var memory = $("#memory");

                        for (var n = 0; n < login.elements / login.identicalElements; n++) {
                            console.log(dane.images[n]);
                            $('body').append('<img src="' + dane.images[n] + '" style="display: none;">');
                        }                            

                        for (var i = 0; i < login.elements; i++) {
                            if (i % (login.elements / row) === 0) {
                                memory.append('<div class="row"></div>');
                                var column = column = memory.find(".row:nth-child(" + (((login.elements + i) * row / login.elements) - row + 1) + ")");
                            }
                            column.append('<button id="' + dane.hash[i] + '" type="button"></button>');
                        }
                    })
                    .then(function (dane) {
                        $.post("../api/Authorization", JSON.stringify(login), function (data) {
                            cheat.resolve(dane);
                            setTimeout(function () {
                                $("#memory").show().css("height", "100%");
                                $(".result").html(data);
                                $("#loader-wrapper").hide(500);
                            }, 1000);
                        });
                    });
            }

            $("#identicalElements").val('null');
            $("#elements").attr('disabled', 'disabled').empty();
            $("#round").attr('disabled', 'disabled').empty();
            $("#log").prop('disabled', true);
        });

        $("#identicalElements").change(function (e) {
            var value = e.target.value;
            var element = $("#elements");
            if (value != 'null') {
                value = parseInt(value);
                element.empty().append($('<option>', {
                    value: 'null',
                    text: 'Wybierz...'
                }));
                for (var i = value + value; i <= 10; i += value) {
                    element.append($('<option>', {
                        value: i,
                        text: i
                    }));
                }   
                element.removeAttr('disabled');
            }
            else {
                $("#elements").attr('disabled', 'disabled').empty();
            }

            $('#round').attr('disabled', 'disabled').empty();
            $("#log").prop('disabled', true);
        });

        $("#elements").change(function (e) {
            var value = e.target.value;
            var round = $("#round");
            if (value != 'null') {
                var identical = parseInt($("#identicalElements").val());
                value = parseInt(value);
                round.empty().append($('<option>', {
                    value: 'null',
                    text: 'Wybierz...'
                }));
                for (var i = 1; i <= value / identical; i++) {
                    round.append($('<option>', {
                        value: i,
                        text: i
                    }));
                }
                round.removeAttr('disabled');
            }
            else {
                $("#round").attr('disabled', 'disabled').empty();
                $("#log").prop('disabled', true);
            }
        });

        $("#round").change(function (e) {
            var value = e.target.value;
            if (value != 'null') {
                $("#log").prop('disabled', false);
            }
            else {
                $("#log").prop('disabled', true);
            }
        });
    })();

    ///Przykal wygenerowanego kodu przez backend dynamicJs
    ////Podmieniamy skrypt z backendu (zamieniamy identicalElements, elements, round => na statyczne liczby)
    //$.when(cheat).done(function (dane) {
    //    (function () {

    //        var random = [];
    //        var img = [];
    //        var clickblocking = true; 
    //        var step = 0;
    //        var pair = [];

    //        function correct() {
    //            if (typeof correct.counter === 'undefined') {
    //                correct.counter = 0;
    //            }
    //            return ++(correct.counter);
    //        }

    //        repetitionCheck = function (permissible, array, comparison) {
    //            var q = 0;
    //            var check = true;
    //            for (var k = 0; k < array.length; k++) {
    //                if (array[k] === comparison) {
    //                    q++;
    //                    if (q > permissible) {
    //                        check = false;
    //                    }
    //                }
    //            }
    //            return check;
    //        }

    //        for (var j = 0; j < elements; j++) {
    //            (function (j) {
    //                do {
    //                    var r = Math.floor(Math.random() * elements);
    //                    var check = repetitionCheck(0, random, r);
    //                } while (check === false);
    //                random[j] = r;
    //                do {
    //                    var i = Math.floor(Math.random() * (elements / identicalElements));
    //                    var check = repetitionCheck(identicalElements - 1, img, i);
    //                } while (check === false);
    //                img[j] = i;

    //                var hash = dane.hash[r];
    //                var fimg = dane.images[i];                 
    //                $('#' + hash).on('click', function () {
    //                    if (clickblocking) {
    //                        clickblocking = false;
    //                        $(this).css({ 'background-image': 'url(' + fimg +')', 'background-color': '#FFF', 'background-size': '75px 75px' }).prop('disabled', true);
    //                        setTimeout(function () {
    //                            trafficCheck(fimg);
    //                        }, 200);
    //                    }

    //                });
    //            })(j);
    //        }

    //        trafficCheck = function (value) {
    //            var check = true;
    //            for (var i = 0; i < step; i++) {
    //                if (pair[i] !== value) {
    //                    check = false;
    //                }
    //            }

    //            if (check === true) {
    //                if (step === identicalElements - 1) {
    //                    var c = correct();
    //                    if (c === round) {
    //                        trafficCheck.round = value
    //                    }

    //                    $('#memory').find('.row').children('button:disabled').removeAttr('id').css('background-image', 'url(../Content/b.png)').css('visibility', 'hidden');
    //                    step = 0;
    //                    pair = [];

    //                    if (c === (elements / identicalElements)) {
    //                        $("#loader-wrapper").show(200);
    //                        $("#memory").empty(500);
    //                        $.post('../api/LoginAuthorization?identicalElements=' + identicalElements + '&elements=' + elements + '&round=' + round + '&check=' + trafficCheck.round,
    //                            function () {
    //                                setTimeout(function () {
    //                                    $("#memory").append('<div class=\"alert alert-success\" style=\"text-align: center;z-index: 1001;position: relative;top: 20px;\">Zalogowano!!!</div>');
    //                                }, 500);
    //                            })
    //                            .fail(function () {
    //                                setTimeout(function () {
    //                                    $("#memory").append('<div class=\"alert alert-danger\" style=\"text-align: center;z-index: 1001;position: relative;top: 20px;\">Niepoprawne logowanie!!!</div>')
    //                                }, 200);
    //                            })
    //                    }
    //                }
    //                else {
    //                    pair[step] = value;
    //                    step++;
    //                }
    //            }
    //            else {
    //                $('#memory').find('.row').children().css('background-image', 'url(../Content/b.png)').prop('disabled', false);
    //                step = 0;
    //                pair = [];
    //            }
    //            clickblocking = true;
    //        }

    //        for (var s = 0; s < elements; s++) {
    //            dane.hash[s] = "hacking, keep trying  :)";
    //            dane.images[s] = "hacking, keep trying  :)";
    //            random[s] = "hacking, keep trying  :)";
    //            img[s] = "hacking, keep trying  :)";
    //        }
    //    })();
    //});


</script>
}
