﻿#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1;
}

    #center > div {
        margin: 30px 40px;
    }

#memory {
    height: 0;
    display: none;
}

    #memory button {
        background: url(../Content/b.png) no-repeat;
        width: 75px;
        height: 75px;
        margin-top: 2px;
        margin-left: 4px;
    }

#loader-wrapper {
    height: 0;
    position: relative;
    bottom: 70px !important;
    display: none;
}

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 100%;
        background: #222;
        margin: -4px;
        z-index: 1000;
        -moz-animation: slide 0.5s ease 0s forwards;
        -webkit-animation: slide 0.5s ease 0s forwards;
        -o-animation: slide 0.5s ease 0s forwards;
        animation: slide 0.5s ease 0s forwards;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

#loader {
    display: inline-block;
    position: relative;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}


@-moz-keyframes slide /* Firefox */
{
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes slide /* Safari and Chrome */
{
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


@-ms-keyframes slide /* IE10 */
{
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes slide {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}
